<%- include('partials/head.ejs') -%>

    <%- include('partials/nav.ejs') -%>
        <h1>
            <%- title -%>
        </h1>


        <ul>
            <% for(let i=0; i < productos.length; i++) { %>
                <l1>
                    <%= productos[i].id %>:
                        <%= productos[i].nombre %>
                </l1>
                <br>
                <% } %>
        </ul>

        <h3>Agrega nuevos productos</h3>
        <form action="/nuevo-producto" method="post">
            <input type="text" name="nuevoProducto" id="nuevoProducto">
            <button> Agregando un nuevo producto</button>
        </form>

        <script>
            const txtNuevoProducto = document.getElementById('nuevoProducto');
            // cuando se visualice la caja de texto que permite agregar un nuevo producto el cursor se ubica dentro de ella
            txtNuevoProducto.focus();
        </script>


        <%- include('partials/footer.ejs') -%>