<%- include('partials/head.ejs') -%>

    <%- include('partials/nav.ejs') -%>
        <h1 class="m-3 font-weight-bold">
            <%- title -%>
        </h1>


        <ul class="list-group ml-4">
            <% for(let i=0; i < productos.length; i++) { %>
                <l1 class="list-group-item-action active text-dark font-weight-bold">
                    <%= productos[i].id %>:
                        <%= productos[i].nombre %>
                </l1>
                <br>
                <% } %>
        </ul>

        <h3 class="m-3">Agrega nuevos productos</h3>
        <form class="form-group" action="/nuevo-producto" method="post">
            <div class="form-group row">
                <input type="text" class="form-control col-sm-3 ml-3 mr-2" name="nuevoProducto" placeholder="Nuevo producto" id="nuevoProducto">
                <button class="btn btn-primary"> Agregando un nuevo producto</button>
            </div>
        </form>


        <script>
            const txtNuevoProducto = document.getElementById('nuevoProducto');
            // cuando se visualice la caja de texto que permite agregar un nuevo producto el cursor se ubica dentro de ella
            txtNuevoProducto.focus();
        </script>


        <%- include('partials/footer.ejs') -%>