<%- include('partials/head.ejs') -%>

    <%- include('partials/nav.ejs') -%>
        <h1>
            <%- title -%>
        </h1>
        <pre>
          <table>
            <% for(let i=0; i < items.length; i++) { %>
               <tr>
                 <td><li><%= items[i].id %>:</li></td>
                 <td><%= items[i].nombre %></td>
               </tr>
            <% } %>
            </table>

           <h3>Agrega nuevos productos</h3>

           </table>
</pre>
        <%- include('partials/footer.ejs') -%>
